body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  @import "sportsmansAll";
  @import "sportsmansUnique";
  
  @media screen and (min-width: 1000px) {
    .people {
      grid-template-columns: 1fr 220px 220px 220px 220px 1fr;
      grid-template-areas: ". list list list list .";
  
      &__l{
        grid-template-columns: repeat(4, 220px);
      }
    }
  }